.control-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: grey;
}

.calendar-label {
    display: flex;
    justify-content: left;
    height: 50%;
}

.label {
    font-family: roboto;
    font-size: 20px;
    display: flex;
    align-items: center;
    cursor: default;
}

.label-year {
    margin-right: 5px;
    padding-right: 5px;
    border-right-style: solid;
    border-width: 1px;
}

.controls {
    display: flex;
    justify-content: center;
    width: 80px;
}

.month-control {
    padding: 5px;
    margin: 5px;
    width: 50%;
    border-radius: 10%;
    color: grey;
    text-align: center;
    background-color: darkgrey;
    border-style: none;
    cursor: pointer;
}