.week {
    display: flex;
    flex-wrap: nowrap;
    // justify-content: center;
    transition: height 1s ease-in;
    &.hidden {
        visibility: hidden;
    }
}

%day-template {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0.5em;
    cursor: pointer;
    aspect-ratio: 1 / 1;
    border-style: none;
    border-radius: 8%;
    font-family: Helvetica;

    &:hover {
        color: grey;
    }
}

.day {
    @extend %day-template;
    background-color: rgb(190, 190, 190);
    color: grey;

    &:hover {
        background-color: rgb(163, 163, 163);
    }

    &.today {
        background-color: rgb(173, 200, 231)
    }

    &.today:hover {
        background-color: rgb(159, 186, 219)
    }
}

.day-non-focus {
    @extend %day-template;
    background-color: rgb(219, 219, 219);
    color: rgb(145, 145, 145);

    &:hover {
        background-color: rgb(175, 175, 175);
    }

    &.today:hover {
        background-color: rgb(184, 204, 228)
    }

    &.today {
        background-color: rgb(216, 225, 236)
    }
}

.day-label {
    width: 15px;
    text-align: center;
}
