.week {
    display: flex;
    flex-wrap: nowrap;
    // justify-content: center;
    background-color: rgb(196, 196, 196);
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    min-height: 60px;
    margin: 10px;
    border-radius: 50%;
    color: white;
    background-color: rgb(185, 185, 185);
}